<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>
</div>

<div class="banner">
  <div class="container">
    <h1><strong>Atelier de conception-réalisation de sites internet</strong> </h1>
    <p>A l'Atelier 409 vos idées prennent vies. Laissez-nous vous guider dans la réalisation de votre site internet</p>
    <a class="btn btn-flat" href="#">Devis Gratuit</a>
  </div>
</div>



<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    Site propulsé par le collectif  de <strong>l'Atelier 409</strong>
  </div>
</div>
