.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $red-vif;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $red-vif;
  color: white;
}

button,
input[type="submit"],
input[type="reset"] {
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
