.card-grid {
    display: grid;
    grid-gap: 16px;
    margin-bottom: 75px;
}

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
    .card-grid {
        grid-template-columns: 1fr;
        padding: 16px;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .card-grid {
        grid-template-columns: 1fr 1fr;
        padding: 16px 64px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
    .card-grid {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 16px 128px;
    }
}
