.card-team-body {
  text-align: center;
  color: white;
    h5 {
      color: $red-vif;
    }
}

.card-img-top {
  width: 30%;
  border-radius: 50%;
  margin-bottom: 20px;
}

.image-team{
  text-align: center;
}

.team {
  margin: 0px 10px 0px 10px;
}