.card-grid-organisation {
  display: grid;
  grid-gap: 24px;
}

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .card-grid-organisation {
    grid-template-columns: 1fr;
    padding: 16px;
    margin-bottom: 30px;

  }
  .organisation {
    margin-bottom: 20px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .card-grid-organisation {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 16px 64px;
    margin-bottom: 50px;
  }
  .organisation {
    margin-bottom: 20px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .card-grid-organisation {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 16px 128px;
    margin-bottom: 75px;
  }
}

.image-organisation {
  text-align: center;
}

.card-img-orga {
  height: 90px;
  margin-bottom: 10px;
}

.card-number-orga {
  width: 100%;
}

.card-title-orga {
  text-align: center;
  color: $red-vif;
  font-size: 18px;
}

.card-text-orga{
  text-align: center;
  color: white;
}

// #chronologie {
//   border-top: 2px solid white;
//   width : 85%;
//   position: absolute;
// }




