.card-title-services {
  text-align: center;
  color: $red-vif;
  font-size: 18px;
}

.card-text-services {
  text-align: center;
  color: white;
  margin-bottom: 0;
}

.card-img-services {
  height: 130px;
  margin-bottom: 20px;
}

.image-services {
  text-align: center;
}

